*{
    margin: 0%;
}
.header{
    background-color: rosybrown;
}
.footer{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}
.c1, .c2, .c3{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
    height: auto;
}